div.main {
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100%;

}
div.section{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex: 1 1;
}
div.section:hover {
	flex: 1.5; 
}
div.one {
	background: url(../image/doc/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B%20%D0%B2%D0%B5%D0%B1%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8.jpg) no-repeat;
	background-size: contain;
}
div.two {
	background: url(../image/doc/%D0%9A%D0%A3%D0%A0%D0%A1%20%D0%9C%D0%9E%D0%9B%D0%9E%D0%94%D0%9E%D0%93%D0%9E%20%D0%91%D0%9E%D0%99%D0%A6%D0%90%20%D0%9F%D0%95%D0%A0%D0%92%D0%AB%D0%95%20%D0%A8%D0%90%D0%93%D0%98%20%D0%92%20DIGITAL.jpg)no-repeat;
	background-size: contain;
}
div.three {
	background: url();
}
div.four {
	background: url();
}
div.five {
	background: url();
}
div.section div.text {
	visibility: hidden;
	padding: 0 5px;

}
div.section:hover div.text {
	visibility: visible;
}