/1_Primary_logo_on_transparent_254x69.png
/2_Flat_logo_on_transparent_254x69.png
/3_White_logo_on_color1_254x69.png
/4_Grayscale_logo_on_transparent_254x69.png
/5_White_logo_on_black_254x69.png
/6_Primary_logo_on_color2_254x69.png
